.cardContainer {
  display: flex;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  max-width: 100%;
  overflow: hidden;
  width: 700px;
}

.card h2 {
  letter-spacing: 1px;
  margin: 10px 0;
}

.card h6 {
  opacity: 0.6;
  margin: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.preview {
  background-color: #cf6c58;
  color: #fff;
  padding: 30px;
  max-width: 250px;
  min-width: 250px;
  min-height: 200px;
}

.preview a {
  color: #fff;
  display: inline-block;
  font-size: 12px;
  opacity: 0.6;
  margin-top: 30px;
  text-decoration: none;
}

.info {
  padding: 30px;
  position: relative;
  width: 100%;
}

.progressContainer {
  position: absolute;
  top: 30px;
  right: 30px;
  text-align: right;
  width: 150px;
}

.progressText {
  font-size: 10px;
  opacity: 0.6;
  letter-spacing: 1px;
}

.btn {
  background-color: var(--color-current);
  border: 0;
  border-radius: 50px;
  color: #fff;
  font-size: 16px;
  padding: 12px 25px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  letter-spacing: 1px;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  outline: none;
}

.btn:hover {
  box-shadow: 0 0 0 3px #fea, 0 0 0 4px #fb1;
}
@media (max-width: 50rem) {
  .card {
    width: auto;
  }

  .info {
    display: none;
  }
}
