/* #region Reset elementos nativos */

* {
  box-sizing: border-box;

  /*#region Variáveis */
  --color-main: #333;
  --color-current: #f8a825;
  --font-main: Helvetica, Arial, sans-serif;
  /*#endregion*/
}

body {
  margin: 0;
  color: var(--color-main);
  font-family: var(--font-main);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  display: block;
  font-size: 1rem;
  font-family: var(--font-main);
  color: var(--color-main);
}

/* #endregion */

/* #region Reset elementos não nativos */
.container {
  max-width: 80rem;
  padding: 0 1rem;
  margin: 0 auto;
}

/* #endregion */

/* #region Estilização */

.title {
  font-family: var(--font-main);
  line-height: 1;
  font-size: 3rem;
  margin: 1rem 0;
  position: relative;
  z-index: 1;
}

.title::after {
  content: '';
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background: var(--color-current);
  position: absolute;
  bottom: 5px;
  left: -5px;
  border-radius: 0.2rem;
  z-index: -1;
}

/* #endregion */
